.main-container {
  min-height: 100vh;
  height: auto;
}
.clr-vertical-nav {
  padding-top: 0;

  & > .nav-link:first-child {
    margin-top: 1rem;
  }
}

// HEADERS
#header-types,
#color-types {
  header {
    margin-bottom: 12px; // This spaces out some of the headers that are stacked in the demos
  }
}
#subnav-types {
  .main-container {
    height: auto; // Allows a demo of the subnav not to be 100% height of page
  }
}

// Fix APIs

.main-container > .content-container {
  min-height: fit-content;
}

/*
  On the first draft of timeline overview there was example of the waiting step
  It used to use the clr-spinner component, this is a modification of the `.spinner` css only element.
 */
.demo-spinner {
  height: 1.8rem;
  width: 1.8rem;
  min-height: 1.8rem;
  min-width: 1.8rem;
}

.clr-timeline.clr-timeline-vertical span + .clr-timeline-step-body::before {
  //background: deeppink;
  //transform: translate(-1.15rem,1.3rem) !important;
}

// Prism code snippet margin
div[class^='language-'] pre {
  margin: 1rem 0;
}

p code {
  color: var(--clr-color-danger-800, #c21d00);
}

// From porting grid demos
.clr-example .clr-example-col-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  border-radius: 0.15rem;
  background: #d8e3e9;
  margin: 0.3rem 0;
}

.clr-example .clr-example-nesting-row,
.clr-example .clr-example-row {
  background: #304250;
  margin: 0.3rem 0;
}

.clr-example .clr-example-row {
  height: 5.4rem;
}

.clr-example .clr-example-nesting-row .clr-example-nesting-row {
  background: #62727f;
}

// Workaround for cds-alert-actions issue
cds-alert-actions {
  display: block;
}
