.main-container {
  min-height: 100vh;
  height: auto;
}
.clr-vertical-nav {
  padding-top: 0;

  & > .nav-link:first-child {
    margin-top: 1rem;
  }
}

// HEADERS
#header-types,
#color-types {
  header {
    margin-bottom: 12px; // This spaces out some of the headers that are stacked in the demos
  }
}
#subnav-types {
  .main-container {
    height: auto; // Allows a demo of the subnav not to be 100% height of page
  }
}

// Fix APIs

.main-container > .content-container {
  min-height: fit-content;
}
