.page-block {
  flex-wrap: nowrap;
  .page-nav {
    max-width: 10rem;
    min-width: 10rem;
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
  }
  .page-content {
    max-width: fit-content;
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
    padding-left: 1.5rem;
  }
  .page-toc {
  }

  .page-wrapper {
    overflow: hidden;
  }
}
